/* tables */
table.data-table {
	/*font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;*/
}
table.data-table thead tr th, table.data-table tfoot tr th {
	/*background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;*/
}
table.data-table thead tr .header {
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}

table.data-table thead tr .headerSortUp {
	background-image: url(asc.gif);
}
table.data-table thead tr .headerSortDown {
	background-image: url(desc.gif);
}
table.data-table thead tr .headerSortDown, table.data-table thead tr .headerSortUp {
	background-color: #663399;
	color: #ffffff;
}
/* 3/6/2013 */
table.data-table thead tr .header {
	padding-right:18px;
}